extends ../../layouts/default
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
     .col-12
       +box-head(titlePage)
    

    .row 
      .col-12 
        form(
            action = "/rooms-chat/create"
            method = "POST"
        )
          div(class = "form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class = "form-control"
                id = "title"
                name = "title"
                required
            )
          div(class = "form-group")
            label(for="") Thêm thành viên
            each friend in friendList 
              div(class = "form-check")
                input(
                  type="checkbox"
                  class = "form-check-input"
                  value = friend.user_id
                  id  = `user-${friend.user_id}`
                  name = "userId"
                  ) 
                label(
                  class = "form-check-lable"
                  for = `user-${friend.user_id}`
                ) #{friend.infoUser.fullName}
              
            div(class = "form-group")
               button(
                class = "btn btn-primary"
                type = "submit"
               ) Tạo
            




